.g-base {
    font-family: "tahoma";
    background-color: gray;
    margin: 0;
}

.g-header {
    background-color: darkgray;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    
}

.g-header a {
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    border: gray solid;
    text-decoration: none;
}

#selected {
    background-color: grey;
}

#p-home {
    justify-self: center;
}

#p-web_apps {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display:grid;
    grid-template-areas: 
    ". taskflow budgetbuddy recipe"
    ". traveltrail fittrack mediavault";
}

#p-web_apps img {
    width: 250px;
}

#s-taskflow {
    grid-area: taskflow;
    width: 250px;
}

#s-budgetbuddy {
    grid-area: budgetbuddy;
    width: 250px;
}

#s-recipe {
    grid-area: recipe;
    width: 250px;
}

#s-traveltrail {
    grid-area: traveltrail;
    width: 250px;
}

#s-fittrack {
    grid-area: fittrack;
    width: 250px;
}

#s-mediavault {
    grid-area: mediavault;
    width: 250px;
}

#p-programming_samples {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-areas: 
    ". math insult"
    ". . password";
    
}

#p-programming_samples img {
    width: 300px;
}

#s-math_game {
    grid-area: math;
    width: 300px;
}

#s-insult_generator {
    grid-area: insult;
    width: 300px;
}

#s-password_cracker {
    grid-area: password;
    width: 300px;
}

#p-resume {
    padding-left: 20px;
    padding-right: 20px;
    display:grid;
    grid-template-areas: 
    ". experience contact-info"
    ". skills ."
    ". achievements ."
    ". education .";
}

#s-contact-info {
    grid-area: contact-info;
}

#s-experience {
    grid-area: experience;
}

#s-achievements {
    grid-area: achievements;
}

#s-skills {
    grid-area: skills;
}

#s-education {
    grid-area: education;
}