.g-base {
    font-family: "tahoma";
    background-color: gray;
    margin: 0;
}

.g-header {
    background-color: darkgray;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    
}

.g-header a {
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    border: gray solid;
    text-decoration: none;
}

#selected {
    background-color: grey;
}

#p-home {
    font-size: 2rem;
}

#p-web_apps {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#s-taskflow {
    flex-grow: 500;
}

#p-programming_samples {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#p-resume {
    padding-left: 20px;
    padding-right: 20px;
    display:grid;
    grid-template-columns: auto, auto, auto;
    grid-template-rows: auto, auto, auto, auto;
    grid-template-areas: 
    ". experience contact-info"
    ". skills ."
    ". achievements ."
    ". education .";
}

#s-contact-info {
    grid-area: contact-info;
}

#s-experience {
    grid-area: experience;
    
}

#s-achievements {
    grid-area: achievements;
    
}

#s-skills {
    grid-area: skills;
    
}

#s-education {
    grid-area: education;
    
}